#dik{
  width: 1300px;
  height: 200px;
  background-color: blue;
 
    border-color: red;
  border-style: solid;
  border-width: 20px;
  }
#ass{
  width: 300px;
  height: 1000px;
    background-color: green;
      margin-left: 1000px;
        margin-top: -240px;
  border-style: solid;
  border-color: red;
  border-width: 20px;
  font-size: 30px
          
}
.foto1{
  margin: 0px 20px;
}